@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.header_links {
    margin-top: 2rem;
    /* margin-bottom: 100px; */
}
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.header_btn {
    margin-right: 10px;
}

.header_log_out {
    float: right;
    margin-bottom: 150px;
}

.header_link {

    background-image: url(../img/canada-lake-feb.jpg);
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

}

.header_button {
    margin: 20px 0px 0px 0px;
    padding: 0px;
}

.main_content {
    padding: 0px;

    /* border: 2px solid #e3e3e3;
    /* background-color: #E9E9E9; */
    /* border-radius: 10px; */
    margin-top: 20px;


}

.text_content_main {
    font-size: 24px;
}

/* s */

.control_input {
    width: 80%;
}

.date_control {
    width: 80%;
}

.search_bitton {
    margin-top: 20px;
}

/* .fly {
    padding: 10px;
} */

.fly_div {
    border: 1px solid #e3e3e3;
    /* margin: 20px; */
    padding: 20px;
}

.btn_fly {
    width: 10%;
}
/* -------------- header navbar --------------------*/
.languageAndAccaunt {
    background-image: url(../img/canada-lake-feb.jpg);
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    padding: 5px 5%;

}
.language a{
    color: white;
    text-decoration: none;
}
.language a:hover{
    color: white;
    text-decoration: underline;
}
.navbarLink{
    color: white;
    font-size: 20px;
    margin:0 1%;
    text-decoration: none;

}

.navbarLink:hover {
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;

}
.topnav{
    margin-top: 10px;
    color: white;
    margin-bottom: 5px;
}

/*----------------UserPage----------------*/

.OneTicket{
    margin-top: 10px;
}
.backgroundTicket{
    padding: 1rem;
    background-color: #f7f7f9;
    border: 1px solid #68b1ff ;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 3px -1px rgba(224,224,224,1);
    -moz-box-shadow: 6px 6px 3px -1px rgba(224,224,224,1);
    box-shadow: 6px 6px 3px -1px rgba(224,224,224,1);
}
.buttonFloatLeft{
    float: left;
    margin-right: 10px;
}
.GroupSearch{
    color: #68b1ff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.GroupSearch a{
    border-bottom: 1px solid #68b1ff;
    color: #68b1ff;
    font-size: 18px;
    padding-bottom: 3px;
}

.GroupSearch a:hover{
    text-decoration: none;
    border-bottom: 1px solid #68b1ff;
    color: #68b1ff;

}
.buttonGroupCard{
    margin-top: 10px;

}
/*--------------SeatchPage--------------------------*/
.SeachTicketSearch{
    font-size: 24px;
}
.searchInput{
    max-width:80%;
}
.searchInputSecond{
    max-width: 80%;
}
.leftBlockSerch{
    padding-left: 10%;
    padding-top: 10px;
    width: 50%;
    float: left;
}
.leftBlockSerchRight{
    padding-top: 10px;
    padding-left: 10%;

    float: right;
    width: 50%;
}
.labelSeatchFlight{
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 0px;
    padding-left: 10%;
}
.BlockBachground{
    color: white;
    width: 100%;
    background-color: #1967d2;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 10px;
    opacity:0.9;
    /*padding-left: 5%;*/
}
.serchButton{

}
.btnSeach{
    margin-top:24%;
    width: 70%;
}
.mainSerchPage{
    margin-top: 20px;
}

/*---------------------buyPage*-----------------------/
 */
.mainContentBuy{
    margin-top: 20px;
}
.buyButtonBuyPage{
    margin-top: 16px;
    float: left;
    margin-right: 16px;

}
.cancellButtonBuyPage2{
    margin: 0;

}
/*------------flights page-------------------*/

.flightAddBtn{
    margin-top: 17%;
    width: 70%;
}
.deleteFlight{
    width:80%;
}

.updateFlight{
    width: 80%;
}

/*-----------------flights settings page----------------------------*/
.mainContentUpdate {
    margin-top: 20px;
}

.updateBtn{
    margin-top: 16px;
    width: 70%;
}

/*----------------------------add flight page---------------------------------*/
.addFlightBtn{
    margin-top: 16px;
    width: 70%;
}

.mainContentAdd{
    margin-top: 20px;
}

/*----------------------------------airports page--------------------------------*/
.okBtnAirports{
    margin-top: 10px;
    width: 70%;
}
.addAirportBtn {
    margin-top: 10px;
    width: 70%;
}
.updateAirportBtn {
    margin-top: 10px;
    width: 70%;
}

.codeInputAirports{
    margin-right: 15px;
    float: left;
}

.airportTitle {
    margin-top: 20px;
}

.findAirportBtn {
    margin-top: 20px;
}
/*-----------------------------------planes Page-------------------------*/
.findPlaneBtn {
    margin-top: 10px;
    width: 70%;
}
.addPlaneBtn {
    margin-top: 10px;
    width: 100%;
}

.updatePlaneBtn
{

    width:100%;
}

.deletePlaneBtn {

    width: 100%;
}

.planeTitle{
    margin-top: 20px;
}
/*---------------------------------settings page------------------------------------*/
.changeDataBtn {
    margin-top: 10px;
    width: 70%;
}
.changePassBtn {
    margin-top: 10px;
    width: 70%;

}
.changeData {
    margin-top: 20px;
}
.changePass{
    margin-top: 20px;

}
.changeDataTitle {
    margin-top: 20px;
}
.changePassTitle{
    margin-top: 20px;

}
/*----------------------------------------------tickets page----------------------------------*/
.ticketsTable {
    margin-top: 20px;
}
.updateTicket{
    width: 100%;
}
.deleteTicket{
    width: 100%;
}

/*---------------------------------------------------------users Page-------------------------------*/
.usersTitle {
    margin-top:20px;
}

.findUserForm{
    margin-top: 20px;
}
.findUserBtn {
    margin-top: 20px;
}

.numOfUsersBtn {
    float: left;
    margin-right: 0px;

}

.paginationBtn{
    float: left;
    margin-right: 0px;

}
.numOfUsers{
    align: right;
}